__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pt
*.pth
*.ckpt
*.pkl
*.json
*.yaml
*.yml
*.txt
*.csv
*.tsv

s3o/
.gradio/
checkpoints/
doc/
gradio_outputs/
sam3d_objects/
pytorch3d/
.ipynb_checkpoints/
